footer{
    background-color: #20c997;
    padding: 2%;
    color: white;
    display: flex;
    justify-content: center;
}
footer img{
    margin-right: 2%;
}
footer p{
    padding-top: 1.1rem;
    font-size: 1rem;
}
.footer{
    text-align: center;
}