<header>
    <div class="cabecalho">
        <!-- <a href="/index.html"><img src="/assets/botao-voltar.svg" alt="botão voltar" width="50px" height="50px"></a>
        <h1>Solicitar Férias</h1> -->
    </div>
    <p>Preencha os campos abaixo para cadastrar uma solicitação de férias.</p>
</header>
<main>
    <section class="formulario">
        <div>
            <form [formGroup]="formRequerimento" (ngSubmit)="enviarRequerimento()">
                <legend>Dados Férias</legend>
                <hr>
                <label for="saldo">Saldo</label>
                <input type="text" name="saldo" id="saldo" 
                       placeholder="Dinamico vem do JSON" disabled>
                <label for="inicio_ferias">Data de Inicio das férias</label>
                <input type="date" name="inicio_ferias" id="inicio_ferias" 
                       placeholder="Não coloque uma data do passado"
                       formControlName="data" required>
                <label for="dias_ferias">Dias de férias a tirar</label>
                <input type="number" min="0" max="30" name="dias_ferias" 
                       id="dias_ferias" placeholder="30" formControlName="diasFerias"
                       required>
                <input style="display: inline; width: auto;" type="checkbox"
                       name="abono" id="abono">
                <label for="abono" style="margin-left: 0;">Desejo abonar 1/3 do meu direito de férias</label>
                <label style="display: block;" for="dias_abono">Dias de abono</label>
                <input type="number" min="0" max="10" name="dias_abono" 
                       id="dias_abono" formControllName="diasAbono" 
                       placeholder="Dias de férias que deseja vender">
                <label style="display: block; margin-bottom: 0.5rem;" for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" cols="40" rows="5"
                    placeholder="Quero pegar férias neste dia porque..."
                    formControllName="mensagem"></textarea>
                <div class="footer_form">
                    <div class="alert_form">
                        <img src="../../assets/images/warning.svg" alt="Preencha todos os campos do requerimento" width="35px"
                            height="35px">
                        <p>Importante!<br>Preencha todos os campos.</p>
                    </div>
                    <div class="buttons_form">
                        <button type="submit" class="btn btn-outline-info" (click)="enviarRequerimento()">Enviar</button>
                        <button type="button" class="btn btn-outline-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>