<header>
    <div class="cabecalho">
        <!-- <a href="/index.html"><img src="/assets/botao-voltar.svg" alt="botão voltar" width="50px" height="50px"></a>
        <h1>Solicitar Férias</h1> -->
    </div>
    <p>Preencha os campos abaixo para cadastrar uma solicitação de férias.</p>
</header>
<main>
    <section class="formulario">
        <div>
            <form [formGroup]="requerimentoForm" (ngSubmit)="onSubmit()">
                <legend>Dados Férias</legend>
                <hr>
                <label for="saldo">Saldo</label>
                <input type="text" name="saldo" id="saldo" placeholder="Dinamico vem do JSON" disabled>   
                <div class="form-group">
                    <label>Data de inicio das Férias</label>
                    <input type="date" formControlName="data" [ngClass]="{ 'is-invalid': submitted && f.data.errors }" />
                    <div *ngIf="submitted && f.data.errors" class="invalid-feedback">
                        <div *ngIf="f.data.errors.required">A data de início é obrigatória</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="diasFerias">Dias de férias a tirar</label>
                    <input type="number" formControlName="diasFerias"
                           placeholder="30" 
                           [ngClass]="{ 'is-invalid': submitted && f.diasFerias.errors }" />
                    <div *ngIf="submitted && f.diasFerias.errors" class="invalid-feedback">
                        <div *ngIf="f.diasFerias.errors.required">Quantidade obrigatória</div>
                        <div *ngIf="f.diasFerias.errors.max">No máximo 30 dias</div>
                        <div *ngIf="f.diasFerias.errors.min">No mínimo 5 dias</div>
                    </div>
                </div>
                <input style="display: inline; width: auto;" type="checkbox" (click)="reverter()">
                <label for="abono" style="margin-left: 0.8rem;">Desejo abonar 1/3 do meu direito de férias</label>
                <div class="form-group">
                    <label>Dias abono</label>
                    <input type="number" formControlName="dias_abono" [disabled]="isDisabled"
                           placeholder="Dias de férias que deseja vender"
                           [ngClass]="{ 'is-invalid': submitted && f.dias_abono.errors }"/>
                    <div *ngIf="submitted && f.dias_abono.errors" class="invalid-feedback">
                        <div *ngIf="f.dias_abono.errors.max">maximo 10</div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="display: block; margin-bottom: 0.5rem;" for="mensagem">Mensagem</label>
                    <textarea cols="40" rows="5" placeholder="Quero pegar férias neste dia porque..." formControlName="mensagem"></textarea>
                </div>
                <div class="footer_form container-fluid">
                    <div class="alert_form">
                        <img src="../../assets/images/warning.svg" alt="Preencha todos os campos do requerimento" width="35px"
                            height="35px">
                        <p>Importante!<br>Preencha todos os campos.</p>
                    </div>
                    <div class="buttons_form">
                        <button type="submit" class="btn btn-outline-info">Enviar</button>
                        <button type="reset" class="btn btn-outline-danger" [routerLink]="['']">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>