nav{
    background-color: #20c997;
}
#botao{
    font-weight: 600;
}
.a{
    border-bottom: solid 3px #20c997;
    color: white;
}
ul li .a{
    padding-inline: 2rem;
    color: aliceblue;
    font-size: 1.5rem;
}
.a:hover{
    border-bottom: solid 3px black;
}