* {
  margin: 0%;
  padding: 0%;
  --main-bg-color: #f0f0f7;
  --cinza: #e8e4e3;
  outline: 0;
}

body {
  background-color: var(--cinza);
}

header {
  text-align: center;
  padding: 1%;
  height: 16rem;
  background-color: var(--main-bg-color);
  color: white;
}

header h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0%;
  margin-right: 2rem;
}

header img {
  margin-left: 2rem;
}

header p {
  margin-top: 2rem;
  font-size: 1.5rem;
}

main {
  margin-bottom: 5rem;
  margin-top: -4rem;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f7;
}

.seletor-requerimentos {
  display: flex;
  border-radius: 4px;
  margin-bottom: 10px;
  width: auto;
  height: 40px;
}

#titulo_seletor {
  display: inline-block;
  white-space: nowrap;
  color: black;
  width: auto;
  padding-top: 4px;
  margin: 0px 0px 0px 10px;
  font-size: 1.4rem;
}

#inicio_ferias_calendar {
  border-radius: 6px;
  margin-left: 10px;
  font-size: 1.2rem;
  color: #c2c2c2;
  border-color: transparent;
  width: auto;
  height: auto;
}

#buscar_requerimentos_data_button {
  background-color: white;
  height: auto;
  width: auto;
  text-align: center;
  margin: 0px 0px 0px 10px;
  border-radius: 6px;
}

#buscar_requerimentos_data_button:hover {
  background-color: #85f7d4;
}

#buscar_requerimentos_data_button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#buscar_requerimentos_data_button:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#buscar_requerimentos_data_button:hover span {
  padding-right: 25px;
}

#buscar_requerimentos_data_button:hover span:after {
  opacity: 1;
  right: 0;
}

#buscar_requerimentos_data_button:active {
  background-color: #3e8e41;
}

section {
  background-color: white;
}

.formulario {
  margin: auto;
  width: 45%;
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}


.formulario input, textarea, button {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--cinza);
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 90%;
  margin-left: 5%;
  border: var(--cinza) 1.5px solid;
}

#observacao_colaborador {
  height: auto;
}

.formulario legend {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.formulario label {
  color: #b8b5b4;
  padding-top: 1rem;
  margin-left: 5%;
}

.formulario textarea:focus, input:focus {
  border: #b8b5b4 1.5px solid;
}

.footer_form {
  display: flex;
  justify-content: space-between;
  border-top: var(--cinza) 2px solid;
  margin: 0;
  padding-top: 2rem;
}

.footer_form a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.dados_requerimento {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.dados_requerimento p {
  margin-left: 5px;
}

.dados_requerimento label {
  color: black;
}

.footer_form button {
  width: 45%;
  margin-left: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 100%;
}

.buttons_form {
  display: flex;
  justify-content: flex-end;
}

.alert_form {
  display: flex;
  justify-content: flex-start;
}

.alert_form p {
  margin-left: 1rem;
}

.cabecalho {
  display: flex;
  color: black;
  justify-content: space-between;
}
