<header>

  <div class="cabecalho">
    <h1 class="mt-4">Avaliação de Requerimento de Férias</h1>
  </div>

</header>

<main>

  <div class="main-body">
    <div class="seletor-requerimentos">

      <label for="inicio_ferias" id="titulo_seletor">Data das Férias: </label>
      <input type="date" name="inicio_ferias" id="inicio_ferias_calendar" placeholder="Não coloque uma data do passado">
      <button id="buscar_requerimentos_data_button"><span>Buscar</span></button>

    </div>

    <section class="formulario" *ngFor="let requerimento of requerimentosPendentes">
      <div>
        <form method="POST">

          <legend>Dados Requerimento</legend>

          <hr>

          <div id="body_dados_requerimento">

            <div class="dados_requerimento">
              <label for="">Colaborador: </label>
              <p> {{ requerimento.idColaborador }} </p>
            </div>

            <div class="dados_requerimento">
              <label for="">Data início férias: </label>
              <p> {{ requerimento.dataInicioFerias }} </p>
            </div>

            <div class="dados_requerimento">
              <label for="">Dias requisitados: </label>
              <p> {{ requerimento.diasRequisitados }}</p>
            </div>

            <div class="dados_requerimento">
              <label for="">Observação: </label>
              <p> {{ requerimento.mensagem }}</p>
            </div>

            <div class="dados_requerimento">
              <label for="">Saldo férias: </label>
              <p> {{ buscarSaldoDiasPorIdColaborador(requerimento.idColaborador) }}</p>
            </div>

          </div>

          <label style="display: block; margin-bottom: 0.5rem;" for="mensagem">Mensagem: </label>
          <textarea name="" id="mensagem" cols="40" rows="5" placeholder="Mensagem ao colaborador..."></textarea>

          <div class="footer_form">

            <!-- <div class="alert_form">
              <img src="/assets/images/warning.svg" alt="Preencha todos os campos do requerimento" width="35px"
                height="35px">
              <p>Importante!<br>Preencha todos os campos.</p>
            </div> -->

            <div class="buttons_form">
              <button type="button" class="btn btn-outline-info" (click)="aprovarRequerimento(requerimento.id, requerimento.resposta)">Aprovar</button>
              <button type="button" class="btn btn-outline-danger" (click)="recusarRequerimento(requerimento.id)">Recusar</button>
            </div>

          </div>

        </form>
      </div>
    </section>
  </div>

</main>
