<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="testService">
  <h2>Exemplo de buscarTodosOsSaldos()</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Colaborador</th>
      <th>Dias Disponiveis De Ferias</th>
    </tr>
    <tr *ngFor="let s of saldos">
      <td>{{ s.idColaborador }}</td>
      <td>{{ s.diasDisponiveisDeFerias }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarSaldoPorIdColaborador(666)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Colaborador</th>
      <th>Dias Disponiveis De Ferias</th>
    </tr>
    <tr *ngIf="saldoBuscadoPorId">
      <td>{{ saldoBuscadoPorId.idColaborador }}</td>
      <td>{{ saldoBuscadoPorId.diasDisponiveisDeFerias }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarTodosOsRequerimentos()</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Gestor</th>
      <th>Data Abertura</th>
      <th>Data Fechamento</th>
      <th>Prazo Analise</th>
      <th>Estado</th>
      <th>Mensagem</th>
      <th>Resposta</th>
      <th>Dias Requisitados</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio Ferias</th>
    </tr>
    <tr *ngFor="let r of requerimentos">
      <td>{{ r.idGestor }}</td>
      <td>{{ r.dataAbertura }}</td>
      <td>{{ r.dataFechamento }}</td>
      <td>{{ r.prazoAnalise }}</td>
      <td>{{ r.estado }}</td>
      <td>{{ r.mensagem }}</td>
      <td>{{ r.resposta }}</td>
      <td>{{ r.diasRequisitados }}</td>
      <td>{{ r.diasVendidos }}</td>
      <td>{{ r.dataInicioFerias }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarRequerimentoPorId(10)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Gestor</th>
      <th>Data Abertura</th>
      <th>Data Fechamento</th>
      <th>Prazo Analise</th>
      <th>Estado</th>
      <th>Mensagem</th>
      <th>Resposta</th>
      <th>Dias Requisitados</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio Ferias</th>
    </tr>
    <tr *ngIf="requerimentoBuscadoPorId">
      <td>{{ requerimentoBuscadoPorId.idGestor }}</td>
      <td>{{ requerimentoBuscadoPorId.dataAbertura }}</td>
      <td>{{ requerimentoBuscadoPorId.dataFechamento }}</td>
      <td>{{ requerimentoBuscadoPorId.prazoAnalise }}</td>
      <td>{{ requerimentoBuscadoPorId.estado }}</td>
      <td>{{ requerimentoBuscadoPorId.mensagem }}</td>
      <td>{{ requerimentoBuscadoPorId.resposta }}</td>
      <td>{{ requerimentoBuscadoPorId.diasRequisitados }}</td>
      <td>{{ requerimentoBuscadoPorId.diasVendidos }}</td>
      <td>{{ requerimentoBuscadoPorId.dataInicioFerias }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de requerimentosBuscadoPorIdColaborador(666)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Gestor</th>
      <th>Data Abertura</th>
      <th>Data Fechamento</th>
      <th>Prazo Analise</th>
      <th>Estado</th>
      <th>Mensagem</th>
      <th>Resposta</th>
      <th>Dias Requisitados</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio Ferias</th>
    </tr>
    <tr *ngFor="let r of requerimentos">
      <td>{{ r.idGestor }}</td>
      <td>{{ r.dataAbertura }}</td>
      <td>{{ r.dataFechamento }}</td>
      <td>{{ r.prazoAnalise }}</td>
      <td>{{ r.estado }}</td>
      <td>{{ r.mensagem }}</td>
      <td>{{ r.resposta }}</td>
      <td>{{ r.diasRequisitados }}</td>
      <td>{{ r.diasVendidos }}</td>
      <td>{{ r.dataInicioFerias }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarTodasAsFerias()</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Férias</th>
      <!--<th>ID Requerimento</th>-->
      <th>Estado</th>
      <th>Dias de Férias</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
    </tr>
    <tr *ngFor="let f of ferias">
      <td>{{ f.id }}</td>
      <td>{{ f.estado }}</td>
      <td>{{ f.dias }}</td>
      <td>{{ f.diasVendidos }}</td>
      <td>{{ f.dataInicio }}</td>
      <td>{{ f.dataFim }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarFeriasPorId(5)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Férias</th>
      <!--<th>ID Requerimento</th>-->
      <th>Estado</th>
      <th>Dias de Férias</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
    </tr>
    <tr *ngIf="feriasBuscadaPorId">
      <td>{{ feriasBuscadaPorId.id }}</td>
      <td>{{ feriasBuscadaPorId.estado }}</td>
      <td>{{ feriasBuscadaPorId.dias }}</td>
      <td>{{ feriasBuscadaPorId.diasVendidos }}</td>
      <td>{{ feriasBuscadaPorId.dataInicio }}</td>
      <td>{{ feriasBuscadaPorId.dataFim }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarTodasAsFeriasPorIdColaborador(666)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Férias</th>
      <!--<th>ID Requerimento</th>-->
      <th>Estado</th>
      <th>Dias de Férias</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
    </tr>
    <tr *ngFor="let f of feriasBuscadasPorIdColaborador">
      <td>{{ f.id }}</td>
      <td>{{ f.estado }}</td>
      <td>{{ f.dias }}</td>
      <td>{{ f.diasVendidos }}</td>
      <td>{{ f.dataInicio }}</td>
      <td>{{ f.dataFim }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarFeriasAUsufruirPorIdColaborador(666)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Férias</th>
      <!--<th>ID Requerimento</th>-->
      <th>Estado</th>
      <th>Dias de Férias</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
    </tr>
    <tr *ngFor="let f of feriasAUsufruirBuscadasPorIdColaborador">
      <td>{{ f.id }}</td>
      <td>{{ f.estado }}</td>
      <td>{{ f.dias }}</td>
      <td>{{ f.diasVendidos }}</td>
      <td>{{ f.dataInicio }}</td>
      <td>{{ f.dataFim }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarFeriasAUsufruirDosSubordinados(444)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Férias</th>
      <!--<th>ID Requerimento</th>-->
      <th>Estado</th>
      <th>Dias de Férias</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
    </tr>
    <tr *ngFor="let f of feriasAUsufruirDosSubordinados">
      <td>{{ f.id }}</td>
      <td>{{ f.estado }}</td>
      <td>{{ f.dias }}</td>
      <td>{{ f.diasVendidos }}</td>
      <td>{{ f.dataInicio }}</td>
      <td>{{ f.dataFim }}</td>
    </tr>
  </table>
</div>

<div class="testService">
  <h2>Exemplo de buscarFeriasUsufruindoDosSubordinados(444)</h2>
  <table style="width: 100%">
    <tr>
      <th>ID Férias</th>
      <!--<th>ID Requerimento</th>-->
      <th>Estado</th>
      <th>Dias de Férias</th>
      <th>Dias Vendidos</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
    </tr>
    <tr *ngFor="let f of feriasUsufruindoDosSubordinados">
      <td>{{ f.id }}</td>
      <td>{{ f.estado }}</td>
      <td>{{ f.dias }}</td>
      <td>{{ f.diasVendidos }}</td>
      <td>{{ f.dataInicio }}</td>
      <td>{{ f.dataFim }}</td>
    </tr>
  </table>
</div>
