    <!-- MAIN -->
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Controle de Férias</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Lista de Requerimento de Férias
                        </div>
                        <div class="card-body"><canvas width="100%" height="380%"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Outra Lista
                        </div>
                        <div class="card-body"><canvas width="100%" height="380%"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </main>



