<!-- MAIN -->
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Controle de Férias</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="col">
      <div class="col-xl-6" style="width: 100%">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Meus Requerimentos
          </div>
          <div class="card-body table-responsive">
            <table class="table" style="width: 100%">
              <thead>
                <tr>
                  <th scope="col">ID Gestor</th>
                  <th scope="col">Data Abertura</th>
                  <th scope="col">Data Fechamento</th>
                  <th scope="col">Prazo Analise</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Mensagem</th>
                  <th scope="col">Resposta</th>
                  <th scope="col">Dias Requisitados</th>
                  <th scope="col">Dias Vendidos</th>
                  <th scope="col">Data Inicio Ferias</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of requerimentos">
                  <td scope="row">{{ r.idGestor }}</td>
                  <td>{{ r.dataAbertura }}</td>
                  <td>{{ r.dataFechamento }}</td>
                  <td>{{ r.prazoAnalise }}</td>
                  <td>{{ r.estado }}</td>
                  <td>{{ r.mensagem }}</td>
                  <td>{{ r.resposta }}</td>
                  <td>{{ r.diasRequisitados }}</td>
                  <td>{{ r.diasVendidos }}</td>
                  <td>{{ r.dataInicioFerias }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-6" style="width: 100%">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            Minhas Férias
          </div>
          <div class="card-body table-responsive">
            <table class="table" style="width: 100%">
              <thead>
                <tr>
                  <th scope="col">ID Férias</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Dias de Férias</th>
                  <th scope="col">Dias Vendidos</th>
                  <th scope="col">Data Inicio</th>
                  <th scope="col">Data Fim</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let f of ferias">
                  <td scope="row">{{ f.id }}</td>
                  <td>{{ f.estado }}</td>
                  <td>{{ f.dias }}</td>
                  <td>{{ f.diasVendidos }}</td>
                  <td>{{ f.dataInicio }}</td>
                  <td>{{ f.dataFim }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
